<div class="login-page">
  <h1>Login Page</h1>
  <p class="login-page__instructions">Please log in here, or <br><a href="/user/register">Sign up.</a></p><br/>
  <form role="form" action="/user/login" method="post" class="login-page__login-form">
    <div>
      <input type="text" name="username" placeholder="Enter Username"/>
    </div>
    <div>
      <input type="password" name="password" placeholder="Password"/>
    </div>
    <button type="submit">Submit</button>&nbsp;<a href="/">
      <button type="button">Cancel</button></a>
  </form>
</div>