<div class="register-page">
  <h1>Register Page</h1>
  <p class="register-page__instructions">Please register here, or <br><a href="/user/login">Log in.</a></p><br/>
  <form role="form" action="/user/register" method="post" class="register-page__register-form">
    <div>
      <input type="text" name="username" placeholder="Enter Username" />
    </div>
    <div>
      <input type="password" name="password" placeholder="Password" />
    </div>
    <button type="submit">Submit</button>&nbsp;<a href="/">
      <button type="button">Cancel</button></a>
  </form>
</div>