body {
  padding: 10px 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

a {
  color: #00B7FF;
}

fieldset, label { 
  margin: 0; padding: 0; 
}

form {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

table {
  padding-bottom: 40px;
}

td {
  width: 33%;
}

input {
  text-align: center;
  border-radius: 4px;
  border: 1px solid gainsboro;
}

.login-page {
  text-align: center;
}

.login-page__login-form {
  margin: 0 auto;
}

.pagination {
  text-align: center;
}

.pagination__item {
  padding: 5px 10px;
}

.pagination__item--disabled {
  color: gray;
  text-decoration: none;
  pointer-events: none;
  border-radius: 4px;
  border: 1px solid gainsboro;
  padding: 5px 10px;
}

.recipe-page__rating  {
  text-align: center;
}

.recipe-page__login {
  text-align: center;
}

.register-page {
  text-align: center;
}

.register-page__register-form {
  margin: 0 auto;
}

.rating { 
  display: inline-block;
  border: none;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } 
.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
