body {
  padding: 10px 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
}

a {
  color: #00B7FF;
}

.pagination {
  text-align: center;
}

.pagination__item--disabled {
  color: gray;
  text-decoration: none;
  pointer-events: none;
}
